@charset "utf-8";

/* 색 설정 */
:root {
    --main-color: #917962;
    --black-color : #222;
    --white-color : #fff
}

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

/* 스크롤 커스텀 */
html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: var(--main-color); border-radius: 10px;}

/* 드래그 블록 커스텀 */
::selection { background-color:var(--main-color); color:#fff; }


/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ font-family: 'Pretendard', sans-serif; font-weight:400; font-size: 16px; letter-spacing: -0.04em; }
section{ display:block; }
a{ color:inherit; }

.inner{ width:1200px; margin:0 auto; }

.paging_box{ padding:10px 0; display:flex; align-items: center; justify-content: center; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }
p{ word-break: keep-all; }

@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 3vw; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */


/* header */
header{ padding: 30px 0; position: fixed; left: 0; top: 0; width: 100%; z-index: 99; background: rgba(0, 0, 0, 0.30); backdrop-filter: blur(15px); }  
header .inner{ padding: 0 3vw; width: 100%; display: flex; align-items: center; justify-content: space-between; }
header .menu-btn{ background:transparent; border: none; }

@media screen and (max-width: 1250px) {
    header{ padding: 20px 0; }
    header .logo{ width: 160px; }
}
@media screen and (max-width: 950px) {
    header .logo{ width: 120px; }
    header .menu-btn .icon{ width: 30px; }
}

/* footer */
footer{ background-color: #2B2E33; border-top: rgba(255,255,255,.4); }
footer .box1{ padding: 50px 0 20px; border-bottom: 1px solid #8C8279; }
footer .box2{ padding: 35px 0 50px 0; color: #FFF; }
footer .box2 .info-list{ display: flex; gap: 20px; flex-wrap: wrap; justify-content: space-between; }
footer .box2 .info-list > li.full{ width: 100%; }
footer .box2 .info-list > li .label{ line-height: 1.5em; font-size: 18px; font-weight: 700; }
footer .box2 .info-list > li .content{ color: #808285; line-height: 1.5em; padding-left: 10px; position: relative; }
footer .box2 .info-list > li .content::before{ content:'・'; position: absolute; left: 0; top: 0; }
footer .box2 .half-div{ display: flex; align-items: flex-end; justify-content: space-between; flex-wrap: wrap; gap: 20px; }
footer .box2 .address-list{ line-height: 1.5em; display: flex; }
footer .box2 .address-list + .address-list{ margin-top: 5px;} 
footer .box2 .address-list .name{ font-weight: 700; flex-shrink: 0; width: 124px; font-size: 18px; color: #BBB; }
footer .box2 .address-list .address{ color: #BBB; font-size: 15px; }
footer .box2 .copy-right{ font-size: 14px; color: #808285; }

@media screen and (max-width: 1250px) {
    footer .logo{ width: 160px; }
    footer .box2 .info-list{ justify-content: flex-start; }
    footer .box2 .info-list > li{ width: calc((100% / 3) - 15px); }
    footer .box2 .info-list > li .label{ font-size: 16px; }
    footer .box2 .address-list{ flex-direction: column; }

}
@media screen and (max-width: 950px) {
    
}
@media screen and (max-width: 650px) {
    footer{ font-size: 14px; }
    footer .logo{ width: 120px; }
    footer .box2 .info-list > li{ width: calc((100% / 2) - 10px); }
    footer .box2 .address-list + .address-list{ margin-top: 10px; }
    footer .box2 .address-list .name{ font-size: 16px; }
    footer .box2 .address-list .address{ font-size: 14px; } 
}

/* .floating-menu */
.floating-menu{ position: fixed; right: 23px; bottom: 42px; z-index: 999; }
.floating-menu .menu-list{ display: flex; align-items: center; gap: 8px; }
.floating-menu .menu-list a{ width: 58px; height: 58px; background: rgba(0, 0, 0, 0.30); backdrop-filter: blur(15px); display: flex; align-items: center; justify-content: center; padding: 12px; border-radius: 10px; }

@media screen and (max-width: 1250px) {
    .floating-menu .menu-list a{ width: 40px; height: 40px; border-radius: 5px; }
    .floating-menu .menu-list a .icon{ width: 20px; }
}
@media screen and (max-width: 950px) {
    
}
@media screen and (max-width: 650px) {
    .floating-menu{ bottom: 10px; right: 10px; }
}

/* .slide-menu */
.slide-menu{ width: 237px; max-width: 90%; display: flex; flex-direction: column; position: fixed; right: -240px; transition: right .5s; top: 0; height: 100vh; z-index: 999; }
.slide-menu.show{ right: 0; }
.slide-menu .btn-div{ height: 93px; padding: 30px 3vw; display: flex; justify-content: flex-end; background: rgba(0, 0, 0, 0.30); backdrop-filter: blur(15px); width: 100%; }
.slide-menu .btn-div .close-btn{ background: transparent; border: none; }
.slide-menu .menu-div{ overflow-y: scroll; scrollbar-width: none; -ms-overflow-style: none;   overflow-y: scroll; color: #fff; padding: 30px; padding-bottom: 120px; flex-grow: 1; background-color: rgba(0, 0, 0, 0.50); backdrop-filter: blur(15px); }
.slide-menu .menu-div::-webkit-scrollbar { display: none; }
.slide-menu .menu-div .title-item{ font-size: 20px; font-weight: 700; }
.slide-menu .menu-div .title-item + .sub-item{ margin-top: 5px; }
.slide-menu .menu-div .sub-item{ font-weight: 300; font-size: 18px; padding: 5px 0 5px 35px; }
.slide-menu .menu-div .sub-item + .title-item{ margin-top: 10px; }

@media screen and (max-width: 1250px) {
    .slide-menu .btn-div{ height: 66.8px; }
    .slide-menu .btn-div{ padding: 0 3vw; }
    .slide-menu .btn-div .icon{ width: 25px; }
}
@media screen and (max-width: 650px) {
    .slide-menu .btn-div{ height: 60.8px; flex-shrink: 0; }
    .slide-menu .btn-div .icon{ width: 20px; }
    .slide-menu .menu-div .title-item{ font-size: 18px; }
    .slide-menu .menu-div .sub-item{ font-size: 16px; padding-left: 20px; }
}

/* .main .section1 */
.main .section1{ background-image: url('../img/main/section1/background.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; }
.main .section1 .inner{ display: flex; align-items: center; justify-content: center; flex-direction: column; }
.main .section1 h1{ text-shadow: 3px 6px 17px rgba(0, 0, 0, 0.25); text-align: center; color: #DCD9D3; font-size: 52px;  } 
.main .section1 h1 b{ font-weight: 700; }
.main .section1 .scroll-div{ color: #fff; position: absolute; bottom: 10px; display: flex; flex-direction: column; gap: 5px; align-items: center; justify-content: center;  }
@media screen and (max-width: 1250px) {
    .main .section1 h1{ font-size: 45px; }
}
@media screen and (max-width: 950px) {
    .main .section1 h1{ font-size: 40px; }
}
@media screen and (max-width: 650px) {
    .main .section1 h1{ font-size: 25px; }
    .main .section1 .scroll-div{ font-size: 14px; }
}

/* .main .section2 */
.main .section2{ position: relative; overflow: hidden; background-image: url('../img/main/section2/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .section2 .fp-overflow{ height: 100vh; overflow: unset; }
.main .section2 .inner{ justify-content: flex-end; height: 100%; display: flex; flex-direction: column;  }
.main .section2 .left-content{ display: flex; flex-direction: column; justify-content: center; min-height: 700px; height: auto; position: relative; z-index: 1; }
.main .section2 .lawyer-img{ min-height: 600px; height: 90vh; position: absolute; right: 20vw; }
.main .title-bar{ margin-bottom: 35px; width: 80px; height: 4px; background-color: #D9AD76; }
.main .section2 h2{ line-height: 1.25em; color: #DCD9D3; font-size: 42px;  }
.main .section2 h2 b{ color: #fff; font-weight: 700; }
.main .section2 h2 .mo-br{ display: none; }
.main .section2 .content{ line-height: 1.5em; font-size: 32px; color: #DCD9D3; display: flex; align-items: center; gap: 2px; margin-top: 2px; }
.main .section2 .content b{ color: #fff; font-weight: 700; }
.main .section2 .more-btn-wrap{ display: flex; margin-top: 80px; }
.main .section2 .more-btn-wrap .more-btn{ transition: background-color .5s, color .5s; border: 1px solid #D1CEC8; border-radius: 20px; padding: 7px 33px; font-size: 20px; color: #fff; }
.main .section2 .more-btn-wrap .more-btn:hover{ background-color: #fff; color: #222; }

@media screen and (max-width: 1725px) {
    .main .section2 .lawyer-img{ right: 10vw; }
}
@media screen and (max-width: 1270px) {
    .main .section2 .lawyer-img{ right: 0; }
}
@media screen and (max-width: 1250px) {
    .main .section2 h2 .mo-br{ display: inline-block; }
    .main .title-bar{ width: 60px; height: 2px; margin-bottom: 20px; }
    .main .section2 .content{ font-size: 24px; }
    .main .section2 .content .icon{ width: 20px; }
}
@media screen and (max-width: 950px) {
    .main .section2{ padding-top: 50px; }
    .main .section2 .lawyer-img{ width: auto; position: static; }
    .main .section2 .fp-overflow{ height: auto;} 
    .main .section2 h2{ font-size: 24px; text-align: center; }
    .main .title-bar{ margin: 0 auto; width: 30px; margin-bottom: 30px; }
    .main .section2 .content{ justify-content: center; }
    .main .section2 .more-btn-wrap{ justify-content: center; margin-top: 20px; }
    .main .section2 .more-btn-wrap .more-btn{ font-size: 16px; }
    .main .section2 .left-content{ min-height: auto; }
    .main .section2 .lawyer-img{ min-height: auto; margin: 0 auto; margin-top: 20px; width: 90%; height: auto; }
}

/* .main .section3 */
.main .section3{ background-color: #1A2738; color: #fff;  }
h2 .text{ line-height: 1.5em; font-size: 34px; }
h2 .text b{ font-weight: 700; }
.main .section3 .slide-wrap{ margin-top: 60px; position: relative; display: flex; align-items: center; justify-content: center; }
.main .section3 .slide-wrap .swiper{ width: 100%; }
.main .section3 .slide-wrap .btn-wrap{ display: flex; align-items: center; justify-content: space-between; position: absolute; width: calc(100% + 90px); left: -45px; }
.main .section3 .slide-wrap .btn-wrap .pn-btn{ background: transparent; border: none; position: relative; z-index: 2; }
.main .section3 .slide-wrap .swiper{ overflow: hidden; }
.main .section3 .slide-wrap .item{ display: flex; flex-direction: column; align-items: center; justify-content: center; color: #fff; border: 1px solid #DCD9D3; padding: 66px 20px; text-align: center; }
.main .section3 .slide-wrap .item .bar{ width: 40px; height: 1px; background-color: #DCD9D3; }
.main .section3 .slide-wrap .item .subject{ margin-top: 24px; font-weight:700; font-size: 30px; }
.main .section3 .slide-wrap .item .content{ margin-top: 24px;  }
.main .section3 .slide-wrap .item .more-btn{ margin-top: 24px; display: inline-block; border-radius: 4px; padding: 7px 15px; background-color: rgba(145, 121, 98, 0.50); }


@media screen and (max-width: 1300px) {
    .main .section3 { overflow: hidden; }
    .main .section3 .slide-wrap{ padding: 0 50px; overflow: unset; }
    .main .section3 .slide-wrap .btn-wrap{ width: 100%; left: 0; }
    .main .section3 .slide-wrap .item{ padding: 4vw 20px; }
    .main .section3 .slide-wrap .swiper{ overflow: unset; }
    .main .section3 .fp-overflow{ overflow: unset; }
}
@media screen and (max-width: 1250px) {
    .main .section3 .slide-wrap .item .subject{ font-size: 24px; }
}
@media screen and (max-width: 950px) {
    .main .section3{ padding: 50px 0; min-height: unset !important; }
    h2{ text-align: center; }
    .main .section3 .slide-wrap{ flex-direction: column; padding: 0; margin-top: 30px; }
    .main .section3 .slide-wrap .btn-wrap{ position: static; justify-content: flex-end; margin-bottom: 10px; }
    .main .section3 .slide-wrap .btn-wrap .icon{ width: 20px; }
    .main .section3 .slide-wrap .item{ padding: 50px 20px; }
    .main .section3 .slide-wrap .swiper{ width: 100%; }
}
@media screen and (max-width: 650px) {
    h2 .text{ font-size: 24px; } 
    .main .section3 .slide-wrap .item{ padding: 30px 10px; }
    .main .section3 .slide-wrap .item .subject{ font-size: 20px; margin-top: 15px; }
    .main .section3 .slide-wrap .item .content{ font-size: 14px; margin-top: 15px; }
    .main .section3 .slide-wrap .item .more-btn{ margin-top: 15px; }
}


/* .main .section4 */
.main .section4{ overflow: hidden; background-color: #EEE; } 
.main .section4 .title-bar{ margin:25px auto 25px auto; }
.main .section4 .text{ text-align: center; }

.main .section4 .tab-content-list > li{ display: none; }
.main .section4 .tab-content-list > li.active{ display: block; }

.main .section4 .mo{ display: none; }

.success-tag-list{ justify-content: center; margin-top: 20px; display:flex; flex-wrap: wrap; gap: 10px; }
.success-tag-list .tag-btn{ line-height: 1.5em; border: none; border-radius: 4px; padding: 5px 15px; background-color: #ccc; color: #777; font-size: 20px; }
.success-tag-list .tag-btn.active{ background-color: #917962; color: #fff; }


.success-list{ margin-top: 25px; display: grid; grid-template-columns: repeat(3,1fr); grid-gap: 38px; }
.success-list .item{ display:flex; flex-direction: column; position:relative; height: 100%; padding: 80px 20px 20px 20px; position: relative; background-color: #fff; margin-left: 19px; }
.success-list .item .label{  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  width: 109px; position: absolute; left: -19px; top: 20px; border-radius: 5px; padding: 8px 10px; text-align: center; color: #fff; font-size: 18px; background-color: #0F1C2E; }
.success-list .item .title{ font-size: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  }
.success-list .item .content{ flex-grow: 1; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; margin-top: 10px; line-height: 1.5em; font-size: 20px; }
.success-list .item .img-div{ margin-top: 10px; height: 200px; position: relative; overflow: hidden; }
.success-list .item .img-div .real{ position:absolute; left: 0; top: 0; width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; }

.main .section4 .center-btn-div{ margin-top: 20px; display: flex; align-items: center; justify-content: center; }
.main .section4 .center-btn-div .more-btn{ text-align: center; line-height: 1.5em; font-weight: 700; padding: 10px; width: 100%; max-width: 228px; background-color: #917962; border-radius: 4px; color: #fff; }

@media screen and (max-width: 1250px) {
    .main .section4 .fp-overflow{ overflow: unset; }
    .success-tag-list .tag-btn{ font-size: 16px; }
    .success-list .item .label{ font-size: 16px; }
    .success-list .item .title{ font-size: 16px; }
    .success-list .item .content{ font-size: 16px; }
    .success-list{ grid-gap: 10px; }
    .success-list .item .img-div{ height: 15vw; }
}
@media screen and (max-width: 950px) {
    .main .section4 .mo{ display: block; }
    .main .section4 .pc{ display: none; }
    .main .section4 .mobile-slide{  margin-top: 20px; }
    .success-list .item .img-div{ height: 24vw; }
}
@media screen and (max-width: 650px) {
    .main .section4{ padding: 50px 0; }
    .success-list .item .label{ top: 15px; }
    .success-list .item{ padding: 60px 10px 10px 10px; }
    .success-list .item .img-div{ height: 39vw; }
    .success-tag-list .tag-btn{ font-size: 14px; }
    .success-list .item .label{ font-size: 14px; }
}

/* .main .section5 */
.main .section5{ position: relative; overflow: hidden; background-image: url('../img/main/section5/background.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; }
.main .section5 .title-bar{ margin: 0 auto 27px auto; }
.main .section5 .text{ text-align: center; }
.main .section5 .text .mo-br{ display: none; }
.main .section5 .slide-wrap{ margin-top: 40px; }
.main .section5 .swiper-slide{ height: auto !important; }
.main .section5 .fp-overflow{ overflow: unset; }
.main .section5 .item{ height: 100%; border-bottom: 1px solid #917962; }
.main .section5 .item .img-div{ height: 280px; position: relative; overflow: hidden; }
.main .section5 .item .img-div .real{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .section5 .item .content-div{ padding: 20px 30px 30px 30px; }
.main .section5 .item .name{ position: relative; padding-left: 15px; font-size: 20px; font-weight: 700; color: #474747;  }
.main .section5 .item .name::before{ content: ''; position: absolute; left: 0; top: 0; width: 4px; height: 100%; background-color: #473D33; }
.main .section5 .item .address{ word-break: keep-all; font-weight: 500; margin-top: 8px; color: #333; font-size: 18px; }  
.main .section5 .item .info-div{ word-break: keep-all; font-size: 18px; margin-top: 14px; display: flex; align-items: center; gap: 18px; flex-wrap: wrap; }
.main .section5 .item .info-div .box{ display: flex; align-items: center; gap: 6px; color: #333; }
.main .section5 .item .info-div .box .label{ font-weight: 500; }
.main .section5 .item .info-div .box .content{ font-weight: 300; }

@media screen and (max-width: 1250px) {
    .main .section5 .item .img-div{ height: 19vw; height: 23vw; }
    .main .section5 .item .address{ font-size: 16px; }
    .main .section5 .item .info-div{ font-size: 16px; }
    .main .section5 .item .content-div{ padding: 20px 15px; }
}
@media screen and (max-width: 650px) {
    .main .section5{ min-height: unset !important; padding: 50px 0; }
    .main .section5 .text .mo-br{ display: inline-block; }
    .main .section5 .slide-wrap{ margin-top: 20px; }

    .main .section5 .item .img-div{ height: 39vw; }
    .main .section5 .item .name{ font-size: 18px; }
    .main .section5 .item .address{ font-size: 14px; }
    .main .section5 .item .info-div{ font-size: 14px; }
}


/* .apply-section */
.apply-section{ border-bottom: 1px solid #7f7f7f; background-color: #2B2E33; }
.apply-section .inner{ display: flex; align-items: center; gap: 65px; justify-content: space-between; }
.apply-section .left-box{ flex-shrink: 0; }
.apply-section .left-box h2{ color: #fff; }
.apply-section .content{ margin-top: 10px; color: #DCD9D3; font-size: 22px;  }
.apply-section .right-box .form-div{ color: #fff; padding: 30px 30px; border-radius: 10px; border-radius: 10px; background: rgba(0, 0, 0, 0.10); backdrop-filter: blur(33px); }
.apply-section .right-box .form-div .ipt{ border-radius: 4px; border: none; background-color: rgba(255,255,255,.1); }
.apply-section .right-box .form-div .ipt:focus{ border: none !important; box-shadow: none !important; }
.apply-section .right-box .form-div .ipt:focus-visible{ border: none !important; box-shadow: none !important; }
.apply-section .right-box .form-div .ipt::placeholder{ color: rgba(255,255,255,.4); }
.apply-section .right-box .agree-info-div{ margin-top: 20px; }
.apply-section .right-box .agree-info-div .info-title{ font-weight: 500;  }
.apply-section .right-box .agree-info-div .info-content{ line-height: 1.5em; color: rgba(255,255,255,.4); padding: 15px 20px; margin-top: 5px; border: 1px solid rgba(255,255,255,.1); }
.apply-section .right-box .submit-btn{ padding: 5px 17px; border: none; line-height: 1.5em; font-size: 14px; font-weight: 700; border-radius: 3px; margin: 20px auto 0 auto; background-color: #917962; color: #fff; display: flex; align-items: center; justify-content: space-between; width: 100%; max-width: 137px; border-radius: 3px; }





