@charset "utf-8";

/* 색 설정 */
:root {
    --main-color: #917962;
    --black-color : #222;
    --white-color : #fff
}

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

/* 스크롤 커스텀 */
html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: var(--main-color); border-radius: 10px;}

/* 드래그 블록 커스텀 */
::selection { background-color:var(--main-color); color:#fff; }


/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ font-family: 'Pretendard', sans-serif; font-weight:400; font-size: 16px; letter-spacing: -0.04em; }
section{ display:block; }
a{ color:inherit; }

.inner{ width:1200px; margin:0 auto; }

.paging_box{ padding:10px 0; display:flex; align-items: center; justify-content: center; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }
p{ word-break: keep-all; }

@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 3vw; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */


/* header */
header{ padding: 30px 0; position: fixed; left: 0; top: 0; width: 100%; z-index: 99; background: rgba(0, 0, 0, 0.30); backdrop-filter: blur(15px); }  
header .inner{ padding: 0 3vw; width: 100%; display: flex; align-items: center; justify-content: space-between; }
header .menu-btn{ background:transparent; border: none; }

@media screen and (max-width: 1250px) {
    header{ padding: 20px 0; }
    header .logo{ width: 160px; }
}
@media screen and (max-width: 950px) {
    header .logo{ width: 120px; }
    header .menu-btn .icon{ width: 30px; }
}

/* footer */
footer{ background-color: #2B2E33; border-top: rgba(255,255,255,.4); }
footer .box1{ padding: 50px 0 20px; border-bottom: 1px solid #8C8279; }
footer .box2{ padding: 35px 0 50px 0; color: #FFF; }
footer .box2 .info-list{ display: flex; gap: 20px; flex-wrap: wrap; justify-content: space-between; }
footer .box2 .info-list > li.full{ width: 100%; }
footer .box2 .info-list > li .label{ line-height: 1.5em; font-size: 18px; font-weight: 700; }
footer .box2 .info-list > li .content{ color: #808285; line-height: 1.5em; padding-left: 10px; position: relative; }
footer .box2 .info-list > li .content::before{ content:'・'; position: absolute; left: 0; top: 0; }
footer .box2 .half-div{ display: flex; align-items: flex-end; justify-content: space-between; flex-wrap: wrap; gap: 20px; }
footer .box2 .address-list{ line-height: 1.5em; display: flex; }
footer .box2 .address-list + .address-list{ margin-top: 5px;} 
footer .box2 .address-list .name{ font-weight: 700; flex-shrink: 0; width: 124px; font-size: 18px; color: #BBB; }
footer .box2 .address-list .address{ color: #BBB; font-size: 15px; }
footer .box2 .copy-right{ font-size: 14px; color: #808285; }

@media screen and (max-width: 1250px) {
    footer .logo{ width: 160px; }
    footer .box2 .info-list{ justify-content: flex-start; }
    footer .box2 .info-list > li{ width: calc((100% / 3) - 15px); }
    footer .box2 .info-list > li .label{ font-size: 16px; }
    footer .box2 .address-list{ flex-direction: column; }

}
@media screen and (max-width: 950px) {
    
}
@media screen and (max-width: 650px) {
    footer{ font-size: 14px; }
    footer .logo{ width: 120px; }
    footer .box2 .info-list > li{ width: calc((100% / 2) - 10px); }
    footer .box2 .address-list + .address-list{ margin-top: 10px; }
    footer .box2 .address-list .name{ font-size: 16px; }
    footer .box2 .address-list .address{ font-size: 14px; } 
}

/* .floating-menu */
.floating-menu{ position: fixed; right: 23px; bottom: 42px; z-index: 999; }
.floating-menu .menu-list{ display: flex; align-items: center; gap: 8px; }
.floating-menu .menu-list a{ width: 58px; height: 58px; background: rgba(0, 0, 0, 0.30); backdrop-filter: blur(15px); display: flex; align-items: center; justify-content: center; padding: 12px; border-radius: 10px; }

@media screen and (max-width: 1250px) {
    .floating-menu .menu-list a{ width: 40px; height: 40px; border-radius: 5px; }
    .floating-menu .menu-list a .icon{ width: 20px; }
}
@media screen and (max-width: 950px) {
    
}
@media screen and (max-width: 650px) {
    .floating-menu{ bottom: 10px; right: 10px; }
}

/* .slide-menu */
.slide-menu{ width: 237px; max-width: 90%; display: flex; flex-direction: column; position: fixed; right: -240px; transition: right .5s; top: 0; height: 100vh; z-index: 999; }
.slide-menu.show{ right: 0; }
.slide-menu .btn-div{ height: 93px; padding: 30px 3vw; display: flex; justify-content: flex-end; background: rgba(0, 0, 0, 0.30); backdrop-filter: blur(15px); width: 100%; }
.slide-menu .btn-div .close-btn{ background: transparent; border: none; }
.slide-menu .menu-div{ overflow-y: scroll; scrollbar-width: none; -ms-overflow-style: none;   overflow-y: scroll; color: #fff; padding: 30px; padding-bottom: 120px; flex-grow: 1; background-color: rgba(0, 0, 0, 0.50); backdrop-filter: blur(15px); }
.slide-menu .menu-div::-webkit-scrollbar { display: none; }
.slide-menu .menu-div .title-item{ font-size: 20px; font-weight: 700; }
.slide-menu .menu-div .title-item + .sub-item{ margin-top: 5px; }
.slide-menu .menu-div .sub-item{ font-weight: 300; font-size: 18px; padding: 5px 0 5px 35px; }
.slide-menu .menu-div .sub-item + .title-item{ margin-top: 10px; }

@media screen and (max-width: 1250px) {
    .slide-menu .btn-div{ height: 66.8px; }
    .slide-menu .btn-div{ padding: 0 3vw; }
    .slide-menu .btn-div .icon{ width: 25px; }
}
@media screen and (max-width: 650px) {
    .slide-menu .btn-div{ height: 60.8px; flex-shrink: 0; }
    .slide-menu .btn-div .icon{ width: 20px; }
    .slide-menu .menu-div .title-item{ font-size: 18px; }
    .slide-menu .menu-div .sub-item{ font-size: 16px; padding-left: 20px; }
}

/* .main .section1 */
.main .section1{ background-image: url('../img/main/section1/background.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; }
.main .section1 .inner{ display: flex; align-items: center; justify-content: center; flex-direction: column; }
.main .section1 h1{ text-shadow: 3px 6px 17px rgba(0, 0, 0, 0.25); text-align: center; color: #DCD9D3; font-size: 52px;  } 
.main .section1 h1 b{ font-weight: 700; }
.main .section1 .scroll-div{ color: #fff; position: absolute; bottom: 10px; display: flex; flex-direction: column; gap: 5px; align-items: center; justify-content: center;  }
@media screen and (max-width: 1250px) {
    .main .section1 h1{ font-size: 45px; }
}
@media screen and (max-width: 950px) {
    .main .section1 h1{ font-size: 40px; }
}
@media screen and (max-width: 650px) {
    .main .section1 h1{ font-size: 25px; }
    .main .section1 .scroll-div{ font-size: 14px; }
}

/* .main .section2 */
.main .section2{ position: relative; overflow: hidden; background-image: url('../img/main/section2/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .section2 .fp-overflow{ height: 100vh; overflow: unset; }
.main .section2 .inner{ justify-content: flex-end; height: 100%; display: flex; flex-direction: column;  }
.main .section2 .left-content{ display: flex; flex-direction: column; justify-content: center; min-height: 700px; height: auto; position: relative; z-index: 1; }
.main .section2 .lawyer-img{ min-height: 600px; height: 90vh; position: absolute; right: 20vw; }
.main .title-bar{ margin-bottom: 35px; width: 80px; height: 4px; background-color: #D9AD76; }
.main .section2 h2{ line-height: 1.25em; color: #DCD9D3; font-size: 42px;  }
.main .section2 h2 b{ color: #fff; font-weight: 700; }
.main .section2 h2 .mo-br{ display: none; }
.main .section2 .content{ line-height: 1.5em; font-size: 32px; color: #DCD9D3; display: flex; align-items: center; gap: 2px; margin-top: 2px; }
.main .section2 .content b{ color: #fff; font-weight: 700; }
.main .section2 .more-btn-wrap{ display: flex; margin-top: 80px; }
.main .section2 .more-btn-wrap .more-btn{ transition: background-color .5s, color .5s; border: 1px solid #D1CEC8; border-radius: 20px; padding: 7px 33px; font-size: 20px; color: #fff; }
.main .section2 .more-btn-wrap .more-btn:hover{ background-color: #fff; color: #222; }

@media screen and (max-width: 1725px) {
    .main .section2 .lawyer-img{ right: 10vw; }
}
@media screen and (max-width: 1270px) {
    .main .section2 .lawyer-img{ right: 0; }
}
@media screen and (max-width: 1250px) {
    .main .section2 h2 .mo-br{ display: inline-block; }
    .main .title-bar{ width: 60px; height: 2px; margin-bottom: 20px; }
    .main .section2 .content{ font-size: 24px; }
    .main .section2 .content .icon{ width: 20px; }
}
@media screen and (max-width: 950px) {
    .main .section2{ padding-top: 50px; }
    .main .section2 .lawyer-img{ width: auto; position: static; }
    .main .section2 .fp-overflow{ height: auto;} 
    .main .section2 h2{ font-size: 24px; text-align: center; }
    .main .title-bar{ margin: 0 auto; width: 30px; margin-bottom: 30px; }
    .main .section2 .content{ justify-content: center; }
    .main .section2 .more-btn-wrap{ justify-content: center; margin-top: 20px; }
    .main .section2 .more-btn-wrap .more-btn{ font-size: 16px; }
    .main .section2 .left-content{ min-height: auto; }
    .main .section2 .lawyer-img{ min-height: auto; margin: 0 auto; margin-top: 20px; width: 90%; height: auto; }
}

/* .main .section3 */
.main .section3{ background-color: #1A2738; color: #fff;  }
h2 .text{ line-height: 1.5em; font-size: 34px; }
h2 .text b{ font-weight: 700; }
.main .section3 .slide-wrap{ margin-top: 60px; position: relative; display: flex; align-items: center; justify-content: center; }
.main .section3 .slide-wrap .swiper{ width: 100%; }
.main .section3 .slide-wrap .btn-wrap{ display: flex; align-items: center; justify-content: space-between; position: absolute; width: calc(100% + 90px); left: -45px; }
.main .section3 .slide-wrap .btn-wrap .pn-btn{ background: transparent; border: none; position: relative; z-index: 2; }
.main .section3 .slide-wrap .swiper{ overflow: hidden; }
.main .section3 .slide-wrap .item{ display: flex; flex-direction: column; align-items: center; justify-content: center; color: #fff; border: 1px solid #DCD9D3; padding: 66px 20px; text-align: center; }
.main .section3 .slide-wrap .item .bar{ width: 40px; height: 1px; background-color: #DCD9D3; }
.main .section3 .slide-wrap .item .subject{ margin-top: 24px; font-weight:700; font-size: 30px; }
.main .section3 .slide-wrap .item .content{ margin-top: 24px;  }
.main .section3 .slide-wrap .item .more-btn{ margin-top: 24px; display: inline-block; border-radius: 4px; padding: 7px 15px; background-color: rgba(145, 121, 98, 0.50); }


@media screen and (max-width: 1300px) {
    .main .section3 { overflow: hidden; }
    .main .section3 .slide-wrap{ padding: 0 50px; overflow: unset; }
    .main .section3 .slide-wrap .btn-wrap{ width: 100%; left: 0; }
    .main .section3 .slide-wrap .item{ padding: 4vw 20px; }
    .main .section3 .slide-wrap .swiper{ overflow: unset; }
    .main .section3 .fp-overflow{ overflow: unset; }
}
@media screen and (max-width: 1250px) {
    .main .section3 .slide-wrap .item .subject{ font-size: 24px; }
}
@media screen and (max-width: 950px) {
    .main .section3{ padding: 100px 0; min-height: unset !important; }
    .main .section3 h2{ text-align: center; }
    .main .section3 .slide-wrap{ flex-direction: column; padding: 0; margin-top: 30px; }
    .main .section3 .slide-wrap .btn-wrap{ position: static; justify-content: flex-end; margin-bottom: 10px; }
    .main .section3 .slide-wrap .btn-wrap .icon{ width: 20px; }
    .main .section3 .slide-wrap .item{ padding: 50px 20px; }
    .main .section3 .slide-wrap .swiper{ width: 100%; }
}
@media screen and (max-width: 650px) {
    h2 .text{ font-size: 24px; } 
    .main .section3{ padding: 50px 0; }
    .main .section3 .slide-wrap .item{ padding: 30px 10px; }
    .main .section3 .slide-wrap .item .subject{ font-size: 20px; margin-top: 15px; }
    .main .section3 .slide-wrap .item .content{ font-size: 14px; margin-top: 15px; }
    .main .section3 .slide-wrap .item .more-btn{ margin-top: 15px; }
}


/* .main .section4 */
.main .section4{ overflow: hidden; background-color: #EEE; } 
.main .section4 .title-bar{ margin:25px auto 25px auto; }
.main .section4 .text{ text-align: center; }

.main .section4 .tab-content-list > li{ display: none; }
.main .section4 .tab-content-list > li.active{ display: block; }

.main .section4 .mo{ display: none; }

.success-tag-list{ justify-content: center; margin-top: 20px; display:flex; flex-wrap: wrap; gap: 10px; }
.success-tag-list .tag-btn{ line-height: 1.5em; border: none; border-radius: 4px; padding: 5px 15px; background-color: #ccc; color: #777; font-size: 20px; }
.success-tag-list .tag-btn.active{ background-color: #917962; color: #fff; }


.success-list{ margin-top: 25px; display: grid; grid-template-columns: repeat(3,1fr); grid-gap: 38px; }
.success-list .item{ display:flex; flex-direction: column; position:relative; height: 100%; padding: 80px 20px 20px 20px; position: relative; background-color: #fff; margin-left: 19px; }
.success-list .item .label{  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  width: 109px; position: absolute; left: -19px; top: 20px; border-radius: 5px; padding: 8px 10px; text-align: center; color: #fff; font-size: 18px; background-color: #0F1C2E; }
.success-list .item .title{ font-size: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  }
.success-list .item .content{ flex-grow: 1; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; margin-top: 10px; line-height: 1.5em; font-size: 20px; }
.success-list .item .img-div{ margin-top: 10px; height: 200px; position: relative; overflow: hidden; }
.success-list .item .img-div .real{ position:absolute; left: 0; top: 0; width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; }

.main .section4 .center-btn-div{ margin-top: 20px; display: flex; align-items: center; justify-content: center; }
.main .section4 .center-btn-div .more-btn{ text-align: center; line-height: 1.5em; font-weight: 700; padding: 10px; width: 100%; max-width: 228px; background-color: #917962; border-radius: 4px; color: #fff; }

@media screen and (max-width: 1250px) {
    .main .section4 .fp-overflow{ overflow: unset; }
    .success-tag-list .tag-btn{ font-size: 16px; }
    .success-list .item .label{ font-size: 16px; }
    .success-list .item .title{ font-size: 16px; }
    .success-list .item .content{ font-size: 16px; }
    .success-list{ grid-gap: 10px; }
    .success-list .item .img-div{ height: 15vw; }
}
@media screen and (max-width: 950px) {
    .main .section4 { padding: 100px 0; }
    .main .section4 .mo{ display: block; }
    .main .section4 .pc{ display: none; }
    .main .section4 .mobile-slide{  margin-top: 20px; }
    .success-list .item .img-div{ height: 24vw; }
}
@media screen and (max-width: 650px) {
    .main .section4{ padding: 50px 0; }
    .success-list .item .label{ top: 15px; }
    .success-list .item{ padding: 60px 10px 10px 10px; }
    .success-list .item .img-div{ height: 39vw; }
    .success-tag-list .tag-btn{ font-size: 14px; }
    .success-list .item .label{ font-size: 14px; }
}

/* .main .section5 */
.main .section5{ position: relative; overflow: hidden; background-image: url('../img/main/section5/background.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; }
.main .section5 .title-bar{ margin: 0 auto 27px auto; }
.main .section5 .text{ text-align: center; }
.main .section5 .text .mo-br{ display: none; }
.main .section5 .slide-wrap{ margin-top: 40px; }
.main .section5 .slide-wrap .cover{ position: absolute; width: 10%; height: 100%; z-index: 2;  }
.main .section5 .slide-wrap .left-cover{ left: 0; background: linear-gradient(89deg, #EEE 1.08%, rgba(238, 238, 238, 0.00) 98.79%); }
.main .section5 .slide-wrap .right-cover{ right: 0; background: linear-gradient(to left, #EEE 1.08%, rgba(238, 238, 238, 0) 98.79%); }
.main .section5 .swiper-slide{ height: auto !important; }
.main .section5 .fp-overflow{ overflow: unset; }
.main .section5 .item{ height: 100%; border-bottom: 1px solid #917962; }
.main .section5 .item .img-div{ height: 280px; position: relative; overflow: hidden; }
.main .section5 .item .img-div .real{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .section5 .item .content-div{ padding: 20px 30px 30px 30px; }
.main .section5 .item .name{ position: relative; padding-left: 15px; font-size: 20px; font-weight: 700; color: #474747;  }
.main .section5 .item .name::before{ content: ''; position: absolute; left: 0; top: 0; width: 4px; height: 100%; background-color: #473D33; }
.main .section5 .item .address{ word-break: keep-all; font-weight: 500; margin-top: 8px; color: #333; font-size: 18px; }  
.main .section5 .item .info-div{ word-break: keep-all; font-size: 18px; margin-top: 14px; display: flex; align-items: center; gap: 18px; flex-wrap: wrap; }
.main .section5 .item .info-div .box{ display: flex; align-items: center; gap: 6px; color: #333; }
.main .section5 .item .info-div .box .label{ font-weight: 500; }
.main .section5 .item .info-div .box .content{ font-weight: 300; }

@media screen and (max-width: 1250px) {
    .main .section5 .slide-wrap .cover{ display: none; } 
    .main .section5 .item .img-div{ height: 19vw; height: 23vw; }
    .main .section5 .item .address{ font-size: 16px; }
    .main .section5 .item .info-div{ font-size: 16px; }
    .main .section5 .item .content-div{ padding: 20px 15px; }
}
@media screen and (max-width: 950px) {
    .main .section5{ padding: 100px 0; }
}
@media screen and (max-width: 650px) {
    .main .section5{ min-height: unset !important; padding: 50px 0; }
    .main .section5 .text .mo-br{ display: inline-block; }
    .main .section5 .slide-wrap{ margin-top: 20px; }

    .main .section5 .item .img-div{ height: 39vw; }
    .main .section5 .item .name{ font-size: 18px; }
    .main .section5 .item .address{ font-size: 14px; }
    .main .section5 .item .info-div{ font-size: 14px; }
}


/* .apply-section */
.apply-section{ border-bottom: 1px solid #7f7f7f; background-color: #2B2E33; }
.sub .apply-section{ padding: 50px 0; }
.apply-section .inner{ display: flex; align-items: center; gap: 65px; justify-content: space-between; }
.apply-section .left-box{ flex-shrink: 0; }
.apply-section .left-box h2{ color: #fff; }
.apply-section .content{ margin-top: 10px; color: #DCD9D3; font-size: 22px;  }
.apply-section .right-box .form-div{ color: #fff; padding: 30px 30px; border-radius: 10px; border-radius: 10px; background: rgba(0, 0, 0, 0.10); backdrop-filter: blur(33px); }
.main .apply-section .right-box .form-div{ margin-top: 50px; }
.apply-section .right-box .form-div .ipt{ border-radius: 4px; border: none; background-color: rgba(255,255,255,.1); }
.apply-section .right-box .form-div .ipt:focus{ border: none !important; box-shadow: none !important; }
.apply-section .right-box .form-div .ipt:focus-visible{ border: none !important; box-shadow: none !important; }
.apply-section .right-box .form-div .ipt::placeholder{ color: rgba(255,255,255,.4); }
.apply-section .right-box .form-div select.ipt option{ color: #000; }
.apply-section .right-box .form-div textarea.ipt{ height: 130px; }
.apply-section .right-box .agree-info-div{ margin-top: 20px; }
.apply-section .right-box .agree-info-div .info-title{ font-weight: 500;  }
.apply-section .right-box .agree-info-div .info-content{ line-height: 1.5em; color: rgba(255,255,255,.4); padding: 15px 20px; margin-top: 5px; border: 1px solid rgba(255,255,255,.1); }
.apply-section .right-box .submit-btn{ padding: 5px 17px; border: none; line-height: 1.5em; font-size: 14px; font-weight: 700; border-radius: 3px; margin: 20px auto 0 auto; background-color: #917962; color: #fff; display: flex; align-items: center; justify-content: space-between; width: 100%; max-width: 137px; border-radius: 3px; }

@media screen and (max-width: 1250px) {
    .apply-section .content{ font-size: 16px; }

}
@media screen and (max-width: 950px) {
    .apply-section { padding: 100px 0; }
    .apply-section .inner{ flex-direction: column; gap: 50px; }
    .apply-section .fp-overflow{ max-height: unset !important; overflow-y: unset !important; }
    .main .apply-section .right-box .form-div{ margin-top: 0; }

}
@media screen and (max-width: 650px) {
    .apply-section{ padding: 50px 0; }
    .main .apply-section .right-box .form-div{ padding: 30px 20px; }
    .apply-section .right-box .agree-info-div .info-title{ font-size: 14px; }
    .apply-section .right-box .agree-info-div .info-content{ font-size: 14px; }
}

/* section.footer-section */
section.footer-section{ min-height: unset !important; }
section.footer-section .fp-is-overflow{ min-height: unset !important; }

/*  .fp-watermark */
.fp-watermark{ display: none !important; }

/* #fp-nav.fp-right */
#fp-nav.fp-right{ width: 100px !important; right: auto; left: 20px; }
#fp-nav ul li{ display: flex !important; align-items: center !important; margin: 0 !important; width: 85px !important; height: 80px !important; }
#fp-nav ul li:last-child{ display: none !important; }
#fp-nav ul li .fp-tooltip{ width: auto !important; opacity: 1 !important; }
#fp-nav ul li .fp-tooltip.fp-right{ top: auto !important; right: unset !important; left: 20px; }
#fp-nav ul li a.active span{ background-color: #fff !important; margin: 0 !important; }
#fp-nav ul li a span{ top: 0 !important; left: 0 !important; background-color: #656C74 !important; margin: 0 !important; width: 5px !important; height: 80px !important; display: block; border-radius: 0 !important; }
#fp-nav ul li a.active + .fp-tooltip{ font-weight: 700; }

#fp-nav.reversal ul li a.active span{ font-weight: 700; background-color: #222 !important; }
#fp-nav.reversal ul li a span{ background-color: #656C74 !important; }
#fp-nav.reversal ul li .fp-tooltip.fp-right{ color: #656C74; }
#fp-nav.reversal ul li a.active + .fp-tooltip{ color: #222 !important; }

@media screen and (max-width: 1422px) {
    #fp-nav{ display: none !important; }
    #fp-nav ul li .fp-tooltip.fp-right{ font-size: 14px !important; }
}

/* .sec_top */
.sec_top{ padding-top: 93px; }
@media screen and (max-width: 1250px) {
    .sec_top{ padding-top: 66.8px; }
}
@media screen and (max-width: 950px) {
    .sec_top{ padding-top: 60.8px; }
}

/* .sub */
.sub{ background-color: #EEE; }

/* .sub .sub-banner-section */
.sub .sub-banner-section { border-bottom: 4px solid #776657; background-color: #1A2738; padding: 130px 0; color: #fff; text-align: center; }
.sub .sub-banner-section .bar{ width: 80px; height: 4px; background-color: #D9AD76; margin: 0 auto; }
.sub .sub-banner-section h1{ font-weight: 700; margin-top: 10px; font-size: 60px;}
.sub .sub-banner-section .en{ margin-top: 10px; font-size: 15px; }
.sub .sub-banner-section .en .gold{ color: #D9AD76; font-weight: 700; }

@media screen and (max-width: 1250px) {
    .sub .sub-banner-section .bar{ width: 60px; }
    .sub .sub-banner-section h1{ font-size: 40px; }
}
@media screen and (max-width: 650px) {
    .sub .sub-banner-section{ padding: 80px 0; }
    .sub .sub-banner-section .bar{ width: 40px; height: 2px; }
    .sub .sub-banner-section h1{ font-size: 30px; }
}

/* .sub .sub-title-div */
.sub-title-div{  }
.sub-title-div .bar{ width: 80px; height: 4px; background-color: #917962; }
.sub-title-div h2{ margin-top: 22px; font-size: 36px; }  
.sub-title-div h2 b{ font-weight: 700; }
.sub-title-div h2 .gold{ color: #917962; }
.sub-title-div h2 .mo-br{ display: none; }
.sub-title-div.center .bar{ margin: 0 auto; }
.sub-title-div.center h2{ text-align: center; }

@media screen and (max-width: 1250px) {
    .sub-title-div.center .bar{ width: 60px; }
    .sub-title-div h2{ font-size: 28px; margin-top: 10px; }
}
@media screen and (max-width: 650px) {
    .sub-title-div.center .bar{ width: 40px; height: 2px; }
    .sub-title-div h2{ font-size: 24px; }
}

/* .sub1_1 .section1 */
.sub1_1 .section1{ padding: 100px 0; }
.sub1_1 .section1 .number-box{ margin-top: 40px; display: flex; padding: 40px 0; background-color: #917962; color: #fff; text-align: center; }
.sub1_1 .section1 .number-box .box{ padding: 75px 20px; width: calc(100% / 3); }
.sub1_1 .section1 .number-box .bar{ width: 2px; background-color: rgba(255,255,255,.4); }
.sub1_1 .section1 .number-box .number{ opacity: .9; font-size: 40px; font-weight: 700; }
.sub1_1 .section1 .number-box .content{ margin-top: 30px; line-height: 1.5em; font-size: 18px; opacity: .9; } 

@media screen and (max-width: 1250px) {
    .sub1_1 .section1 .number-box{ padding: 20px 0; }
    .sub1_1 .section1 .number-box .box{ padding: 50px 10px; }
    .sub1_1 .section1 .number-box .number{ font-size: 30px; }
    .sub1_1 .section1 .number-box .content{ margin-top: 20px; }
}
@media screen and (max-width: 950px) {
    .sub1_1 .section1 .number-box{ flex-direction: column; }
    .sub1_1 .section1 .number-box .box{ width: 100%; }
    .sub1_1 .section1 .number-box .bar{ height: 2px; width: 100%; }
}
@media screen and (max-width: 650px) {
    .sub1_1 .section1{ padding: 50px 0; }
    .sub1_1 .section1 .number-box{ padding:0; }
    .sub1_1 .section1 .number-box .box{ padding: 30px 10px; }
    .sub1_1 .section1 .number-box .number{ font-size: 20px; }
    .sub1_1 .section1 .number-box .content{ margin-top: 10px; font-size: 14px; }
}

/* .sub1_1 .section2 */
.sub1_1 .section2{ padding-bottom: 170px; }
.sub-title-div h2{ line-height: 1.5em; }
.sub1_1 .section2 .half-div{ margin-top: 30px; display: flex; gap: 30px; }
.sub1_1 .section2 .half-div .img-div{ flex-shrink: 0; width: 590px; height: 430px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.sub1_1 .section2 .half-div .content-div{ word-break: keep-all; flex-grow: 1; font-size: 22px; font-weight: 300; line-height: 1.5em; }
.sub1_1 .section2 .half-div + .sub-title-div{ margin-top: 38px; }
.sub1_1 .section2 .half-div + .half-div{ margin-top: 100px; }
.sub1_1 .section2 .sub-title-div.right .bar{ margin: 0 0 0 auto; }
.sub1_1 .section2 .sub-title-div.right h2{ text-align: right; }
.sub1_1 .section2 .line-bar{ height: 1px; background-color: #b3b3b3; margin: 100px 0 100px 0; }
.sub1_1 .section2 .half-div.type3 .img-div{ width: 448px; height: auto; }
.sub1_1 .section2 .half-div .left-bar-box{ padding-left: 18px; margin: 40px 0;  border-left: 2px solid #8C8279; }


@media screen and (max-width: 1250px) {
    .sub1_1 .section2 .half-div .img-div{ width: 40vw; height: 29vw; }
    .sub-title-div .bar{ width: 60px; } 
    .sub-title-div h2{ font-size: 24px; }
    .sub1_1 .section2 .half-div .content-div{ font-size: 18px; }
    .sub1_1 .section2 .half-div.type3 .img-div{ width: 43vw; height: 25vw; }

}
@media screen and (max-width: 950px) {
    /* .sub1_1 .section2 .half-div{ flex-direction: column; } */
    /* .sub1_1 .section2 .half-div .img-div{ width: 100%; height: 67vw; } */
    .sub1_1 .section2 .half-div .content-div .mo-none{ display: none; }
    .sub1_1 .section2 .line-bar{ margin: 50px 0; }
}
@media screen and (max-width: 700px) {
    .sub1_1 .section2 .half-div{ flex-direction: column; }
    .sub1_1 .section2 .half-div .img-div{ width: 100%; height: 64vw; }
    .sub1_1 .section2 .sub-title-div.right .bar{ margin: 0; }
    .sub1_1 .section2 .sub-title-div.right h2{ text-align: left; } 
    .sub1_1 .section2 .half-div .content-div{ order: 1; }
    .sub1_1 .section2 .half-div.type3 .img-div{ width: 100%; height: 55vw; } 
}
@media screen and (max-width: 650px) {
    .sub1_1 .section2{ padding-bottom: 50px; }
    .sub-title-div .bar{ width: 40px; height: 2px; }
    .sub-title-div h2{ font-size: 18px; }
    .sub1_1 .section2 .half-div{ margin-top: 20px; }
    .sub1_1 .section2 .half-div .left-bar-box{ margin: 20px 0; }
    .sub1_1 .section2 .half-div .content-div{ font-size: 14px; }
    .sub1_1 .section2 .half-div + .half-div{ margin-top: 50px; }
}

/* .sub1_1 .section3 */
.sub1_1 .section3{ color: #fff; padding: 100px 0; background-color: #1A2738; text-align: center; }
.sub1_1 .section3 .mo-br{ display: none; }
.sub1_1 .section3 .center-box{ display: flex; align-items: center; gap: 40px; margin: 0 auto; max-width: 1000px; }
.sub1_1 .section3 .center-box .bar{ flex-grow: 1; width: 60px; height: 2px; background-color: #D9AD76; }
.sub1_1 .section3 .center-box h2{ flex-shrink: 0; font-weight: 300; font-size: 36px; }
.sub1_1 .section3 .center-box h2 b{ font-weight: 700; }

@media screen and (max-width: 1250px) {
    .sub1_1 .section3 .center-box h2{ font-size: 24px; }
    .sub1_1 .section3 .center-box .bar{ height: 1px; }
}
@media screen and (max-width: 950px) {
    .sub1_1 .section3 .mo-br{ display: inline-block; }
}
@media screen and (max-width: 650px) {
    .sub1_1 .section3 .center-box{ gap: 20px; }
    .sub1_1 .section3 .center-box h2{ font-size: 18px; }
}

/* .sub1_2 .section1 */
.sub1_2 .section1{ padding: 100px 0; }
.sub-content-div{ word-break: keep-all; font-size: 18px; line-height: 1.5em; margin-top: 20px; color: #7f7f7f; opacity: .9; }
.sub1_2 .section1 .success-tag-list{ margin-top: 50px; justify-content: flex-start; }

.lawyer-list{ margin-top: 50px; display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; }
.lawyer-list > li{ align-items: flex-start; gap: 5px; display: flex; flex-direction: column; }
.lawyer-list a{ width: 100%; flex-grow: 1; background-color: #222; }
.lawyer-list .item .img-div{ background-blend-mode: multiply; background-color: #DCD9D3; height: 472px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.lawyer-list .item .info-div{ color: #fff; background-color: #222; padding: 20px 40px; }
.lawyer-list .item .info-div .name-div{ flex-wrap: wrap; position: relative; padding-bottom: 10px; border-bottom: 1px solid rgba(255,255,255,.4); }
.lawyer-list .item .info-div .name-div::before{ content:''; width: 6px; height: 6px; border-radius: 50%; background-color: #A28F7C; position: absolute; left: -15px; top: 10px; }
.lawyer-list .item .info-div .name-div b{ font-size: 1.25em; font-weight: 600; padding-right: 10px; }
.lawyer-list .item .info-div .category{ padding-top: 7px; color: rgba(255,255,255,.8); }

.sub .all-chk-div{ margin-top: 20px; display: inline-block; }

.sub1_2 .sub-title-div.title2{ font-weight: 700; margin-top: 85px; }
.member-list{ margin-top: 30px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 12px; }
.member-list > li{ align-items: flex-start; gap: 5px; display: flex; flex-direction: column; }
.member-list > li a{ width: 100%; flex-grow: 1; background-color: #222; }
.member-list .item .img-div{ height: 290px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.member-list .item .info-div{ display: flex; align-items: center; gap: 10px; padding: 20px 30px; background-color: #222; color: #fff; }
.member-list .item .info-div::before{ flex-shrink: 0; content:''; display: block; width: 6px; height: 6px; border-radius: 50%; background-color: #A28F7C; }
.member-list .item .info-div .name-div b{ font-weight: 700; font-size: 1.25em; }
@media screen and (max-width: 1250px) {
    .lawyer-list .item .img-div{ height: 35vw; }
    .lawyer-list .item .info-div{ padding: 20px; padding-left: 30px; }
    .sub-content-div{ font-size: 16px; }
    .member-list .item .img-div{ height: 21vw; } 

    .member-list{ grid-template-columns: repeat(3,1fr); }
    .member-list .item .img-div{ height: 29vw; }
}
@media screen and (max-width: 950px) {
    .lawyer-list{ grid-template-columns: repeat(2, 1fr); grid-gap: 15px; }
    .lawyer-list .item .img-div{ height: 53vw; }
}
@media screen and (max-width: 650px) {
    .sub1_2 .section1{ padding: 50px 0; }
    .sub1_2 .section1 .success-tag-list{ margin-top: 30px; }
    .sub-content-div{ font-size: 14px; }
    .lawyer-list{ grid-gap: 10px; margin-top: 30px; }
    .lawyer-list .item .info-div{ font-size: 14px; padding: 15px; }
    .lawyer-list .item .info-div .name-div{ display: flex; align-items: center; gap: 5px; }
    .lawyer-list .item .info-div .name-div b{ padding-right: 0; }
    .lawyer-list .item .info-div .name-div::before{ position: static; display: block; }
    .member-list{ grid-gap: 10px; grid-template-columns: repeat(2,1fr); }
    .member-list .item .info-div{ font-size: 14px; padding: 15px 10px; }
    .member-list .item .img-div{ height: 44vw; }
}

/* .sub1_2-detail .detail-section */
.sub1_2-detail .detail-section{ padding: 50px 0 100px 0; }
.sub1_2-detail .detail-section .banner-img{ max-width: 100%;  width: 100%; }
.sub1_2-detail .detail-section .info-div{ margin-top: 56px; }
.sub1_2-detail .detail-section .info-div .title{ margin-bottom: 10px; font-weight: 700; font-size: 22px; color: rgba(15, 28, 46, .9); }
.sub1_2-detail .detail-section .info-div .dot{ word-break: keep-all; padding-left: 20px; position: relative; color: #222; line-height: 1.5em; }
.sub1_2-detail .detail-section .info-div .dot::before{ content:'・'; position: absolute; left: 0; top: 0; }
.sub1_2-detail .detail-section .info-div .dot + .dot{ margin-top: 5px; }
.sub1_2-detail .detail-section .btn-div{ margin-top: 100px; display: flex; align-items: center; justify-content: center; }
.sub1_2-detail .detail-section .btn-div .list-btn{ display: inline-block; text-align: center; width: 220px; line-height: 1.5em; font-weight: 700; border-radius: 4px; padding: 10px; background-color: #917962; color: #fff;  }
@media screen and (max-width: 1250px) {
    .sub1_2-detail .detail-section .info-div .title{ font-size: 20px; }
}
@media screen and (max-width: 650px) {
    .sub1_2-detail .detail-section{ padding: 50px 0; }
    .sub1_2-detail .detail-section .info-div{ margin-top: 30px; }
    .sub1_2-detail .detail-section .info-div .title{ font-size: 18px; }
    .sub1_2-detail .detail-section .info-div .dot{ font-size: 14px; }
    .sub1_2-detail .detail-section .btn-div{  margin-top: 50px;  }
    .sub1_2-detail .detail-section .btn-div .list-btn{ width: 180px; font-size: 14px; }
}

/* .sub1_3 .section1 */
.sub1_3 .section1{ padding: 100px 0; }
.sub1_3 .section1 .success-tag-list{ justify-content: flex-start; }
.sub1_3 .section1 .tab-content-list{ margin-top: 40px; }
.sub1_3 .section1 .tab-content-list .item{ gap: 52px; display: flex; align-items: flex-start; }
.sub1_3 .section1 .tab-content-list .map-div{ box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.20); background-color:#d9d9d9; flex-shrink: 0; width: 500px; height: 430px; }
.sub1_3 .section1 .tab-content-list .content-div{ color: #333; flex-grow: 1; }
.sub1_3 .section1 .tab-content-list .content-div .map-title{ font-size: 28px; font-weight: 700; position: relative; padding-left: 7px; border-left: 4px solid #917962; }
.sub1_3 .section1 .tab-content-list .content-div .address{ border-bottom: 1px solid #917962; padding: 12px 0; padding-left: 11px; font-size: 18px; line-height: 1.25em; }
.sub1_3 .section1 .tab-content-list .content-div .info-wrap{ padding: 30px 0; border-bottom: 1px solid #776657;  }
.sub1_3 .section1 .tab-content-list .content-div .info-wrap .title{ font-size: 20px; font-weight: 700; }
.sub1_3 .section1 .tab-content-list .content-div .info-wrap .info-div{ margin-top: 30px; }
.sub1_3 .section1 .tab-content-list .content-div .info-wrap .info-div .list + .list{ margin-top: 14px; }
.sub1_3 .section1 .tab-content-list .content-div .info-wrap .info-div .list{ display: flex; align-items: center; gap: 10px; }
.sub1_3 .section1 .tab-content-list .content-div .info-wrap .info-div .list.bold{ font-weight: 700; }
.sub1_3 .section1 .tab-content-list .content-div .info-wrap .info-div .list .label{ font-weight: 500; font-size: 18px; }
.sub1_3 .section1 .tab-content-list .content-div .info-wrap .info-div .list .underline{ text-decoration: underline; }
.sub1_3 .section1 .tab-content-list .content-div .parking-wrap .title{ margin-top: 30px; font-size: 18px; font-weight: 500; }
.sub1_3 .section1 .tab-content-list .content-div .parking-wrap .content{ margin-top: 6px; font-size: 18px; line-height: 1.5em; }
.sub1_3 .section1 .tab-content-list .content-div .parking-wrap .content .number{ padding-left: 20px; margin-top: 13px; position: relative; }
.sub1_3 .section1 .tab-content-list .content-div .parking-wrap .content .number::before{ content:''; position: absolute; left: 0; top: 0; }
.sub1_3 .section1 .tab-content-list .content-div .parking-wrap .content .number.number1::before{ content:'1. '; }
.sub1_3 .section1 .tab-content-list .content-div .parking-wrap .content .number.number2::before{ content:'2. '; }
.sub1_3 .section1 .tab-content-list .content-div .parking-wrap .content .number.number3::before{ content:'3. '; }
.sub1_3 .section1 .tab-content-list > li{ display: none; }
.sub1_3 .section1 .tab-content-list > li.active{ display: block; }


@media screen and (max-width: 1000px) {
    .sub1_3 .section1 .tab-content-list .item{ flex-direction: column; gap: 30px; }
    .sub1_3 .section1 .tab-content-list .map-div{ width: 100%; } 
    .sub1_3 .section1 .tab-content-list .content-div{ width: 100%; }
}
@media screen and (max-width: 950px) {
    .sub1_3 .section1 .tab-content-list .content-div .map-title{ font-size: 20px; }
    .sub1_3 .section1 .tab-content-list .content-div .address{ font-size: 16px; }
    .sub1_3 .section1 .tab-content-list .content-div .info-wrap .title{ font-size: 18px; }
    .sub1_3 .section1 .tab-content-list .content-div .info-wrap .info-div{ margin-top: 20px; }
    .sub1_3 .section1 .tab-content-list .content-div .info-wrap .info-div .list .label{ font-size: 16px; }
    .sub1_3 .section1 .tab-content-list .content-div .parking-wrap .title{ font-size: 16px; }
    .sub1_3 .section1 .tab-content-list .content-div .parking-wrap .content{ font-size: 16px; }
}
@media screen and (max-width: 650px) {
    .sub1_3 .section1{ padding: 50px 0; }
    .sub1_3 .section1 .tab-content-list .map-div{ height: 60vw; }
    .sub1_3 .section1 .tab-content-list .content-div .address{ font-size: 14px; }
    .sub1_3 .section1 .tab-content-list .content-div .info-wrap .title{ font-size: 16px; }
    .sub1_3 .section1 .tab-content-list .content-div .info-wrap .info-div .list .label{ font-size: 14px; }
    .sub1_3 .section1 .tab-content-list .content-div .parking-wrap .title{ font-size: 14px; }
    .sub1_3 .section1 .tab-content-list .content-div .parking-wrap .content{ font-size: 14px; }
}